*{
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}

.chat-box {
	background: url('../img/bg.jpeg');
	background-attachment: fixed;
	padding-left: 20px;
	overflow-y: scroll;
	flex: 1;
}
.chat-box .img_chat {
	width: 280px;
}

.chat-r {
  margin-right: 7px;
	display: flex;
}
.chat-r .sp {
	flex: 1;
}

.chat-l {
	display: flex;
}
.chat-l .sp {
	flex: 1;
}

.chat-box .mess {
	max-width: 300px;
	background: #F7FCF6;
	padding: 10px;
	border-radius: 10px;
	margin: 20px 0px;
	cursor: pointer;
}
.chat-box .mess p {
	word-break: break-all;
	font-size: 18px;
}
.chat-box .mess-r {
    background: #E2FFC7;
}
.chat-box .emoji {
	width: 20px;
}
.chat-box .check {
	float: right;
}
.chat-box .check img {
	width: 20px;
}
.chat-box .check span {
	color: #888;
	font-size: 12px;
	font-weight: 700px;
}

*::-webkit-scrollbar {
	width: 5px;
}
*::-webkit-scrollbar-track {
	background: #f1f1f1;
}
*::-webkit-scrollbar-thumb {
	background: #aaa;
}
*::-webkit-scrollbar-thumb:hover {
	background: #555;
}


/* from here my css */
.chat-l {
  display: flex;
  justify-content: flex-start;
  margin: 10px;
}

.product-card {
  width: 260px;
  background: #fff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
  font-family: Arial, sans-serif;
}

.product-header {
  background: #8cfc7a;
  position: relative;
  padding: 15px;
  text-align: center;
}

.product-header img {
  width: 100px;
}


.product-body {
  padding: 10px;
  font-size: 14px;
}

.product-body .title span {
  color: #666;
}

.time {
  float: right;
  font-size: 11px;
  color: gray;
}

.product-actions button {
  width: 100%;
  border: none;
  padding: 10px;
  background: white;
  color: #0aa;
  font-size: 14px;
  cursor: pointer;
  border-top: 1px solid #eee;
}

.product-actions button:hover {
  background: #f4f4f4;
}

.product-actions .disabled {
  color: #aaa;
  cursor: not-allowed;
}